.inicio {
    height: 490px;
    width: 100%;
    background: #E9D5A1;
    display: flex;
    align-items: center;
}

.titulo {
    width: 100%;
    text-align: center;
    margin: 0;
}

.inicio h1 {
    font-size: 400%;
    color: #28272a;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.inicio h2 {
    font-size: 30px;
    margin: 0;
    color: #28272a;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500   
    
}

.header-icon {
    height: 150px;
    width: 150px;
    color: #28272a;
}