<div id="aboutme" class="sobreMi">
  <h1>SOBRE MI</h1>

  <div class="contenido">
    <div class="contentphoto">
      <div class="cardphoto">
        <img
          class="imgPerfil"
          src="../../../assets/img/FotoPerfil.jpeg"
          alt="fotoPerfil"
        />
        <div class="cardicon">
          <img
            src="../../../assets/icon/angular-icon.svg"
            width="50px"
            height="50px"
            alt=""
          />
          <img
            src="../../../assets/icon/java-icon.svg"
            width="50px"
            height="50px"
            alt=""
          />
          <img
            src="../../../assets/icon/javascript-icon.svg"
            width="50px"
            height="50px"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="contentcard">
      <div class="card">
        <div class="headcard">
          <span class="material-symbols-outlined" style="color: #151513">
            circle
          </span>
          <span class="material-symbols-outlined" style="color: #7c6d45">
            circle
          </span>
          <span class="material-symbols-outlined" style="color: #e9d5a1">
            circle
          </span>
        </div>
        <div class="describe">
          <span> Hola ! </span>
          <br />
         
          <span
            >Soy Ingeniera Civil graduada de la Universidad Francisco de Paula
            Santander. Hace un tiempo comencé a incursionar en el mundo de las
            TICs desde el ambiente del desarrollo web. Apoyé mi formación
            autónoma en plataformas como Platzi, Udemy y CodigoFacilito, mi
            objetivo es continuar sumergiéndome en el entorno digital,
            especialmente en el desarrollo web.
          </span>

          <div class="download">
            <a
              class="mat-button"
              href="../../../assets/pdf/cv Carolina Villamil H.pdf"
              download="CV-Carolina Villamil"
              >Descargar CV

              <img
                src="../../../assets/icon/download-icon.svg"
                alt="download"
                width="25px"
                height="25px"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
