.contacto {
  background-color: #e9d5a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
}
.todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.todo p{
     font-family: "Courier New", Courier, monospace;
     font-size: 18px;
     margin-top: 5px;

}
.social{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: flex-start;
}

h2 {
  font-size: 40px;
  color: #151513;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 50px;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    
    gap: 20px;
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
    gap: 20px;
}
.phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
    gap: 20px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
}

.form {
  border-radius: 10px;
  padding: 30px;
  background-color: #fbfbfb;
}

label {
  display: block;  
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

input {
  background-color: #fbfbfb;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9d5a1;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}
textarea {
  background-color: #fbfbfb;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e9d5a1;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
.botonenviar {
  height: 45px;
  background-color: #e9d5a1;
  border-color: #e9d5a1;
  border-style: solid;
  border-radius: 10px;
  width: 110px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whatsapp{
  z-index: 2;
  width: 100%;
  margin-top: -50px;
}

.whatsapp a{
  float: right;
}
