<div id="contacto" class="contacto">
  <h1>CONTACTO</h1>

  <div class="todo">
    <div class="informacion">
      <div class="form">
        <form
          method="post"
          action="https://formsubmit.co/carolinavillamilh@gmail.com"
        >
          <p>
            <label for="nombre" class="colocar_nombre">Nombre </label>
            <input
              type="text"
              name="introducir_nombre"
              id="nombre"
              required="obligatorio"
              placeholder="Escribe tu nombre"
            />
          </p>

          <p>
            <label for="email" class="colocar_email">Email </label>
            <input
              type="email"
              name="introducir_email"
              id="email"
              required="obligatorio"
              placeholder="Escribe tu Email"
            />
          </p>

          <p>
            <label for="mensaje" class="colocar_mensaje">Mensaje </label>
            <textarea
              name="introducir_mensaje"
              class="texto_mensaje"
              id="mensaje"
              required="obligatorio"
              placeholder="Deja aquí tu comentario..."
            ></textarea>
          </p>

          <button type="submit">
            <p>Enviar</p>
          </button>
        </form>
      </div>
    </div>

    <div class="social">
      <h2>Hey, trabajemos juntos...</h2>
      <div class="email">
        <img
          src="./../../../assets/icon/email-icon.svg"
          alt="phone"
          width="40px"
          height="40px"
        />
        <p>carolinavillamilh@gmail.com</p>
      </div>

      <div class="phone">
        <img
          src="./../../../assets/icon/phone-icon.svg"
          alt="phone"
          width="40px"
          height="40px"
        />
        <p>+57 313 4015350</p>
      </div>

      <div class="location">
        <img
          src="./../../../assets/icon/location-icon.svg"
          alt="phone"
          width="40px"
          height="40px"
        />
        <p>Medellin, Colombia</p>
      </div>      
    </div>
  </div>
  <div class="whatsapp">
        <a
          href="https://wa.me/573134015350/?text=Hola%20Carolina,%20me%20gustaría%20contactarte%20para%20trabajar%20juntos..."
          target="_blank"
        >
          <img
            src="./../../../assets/icon/whatsapp-icon.svg"
            width="50"
            height="50"
          />
        </a>
      </div>
</div>
