<header class="navbar">
  <nav class="nav">
    <div >
      <a class="logo" href="#inicio">
        <img
          src="../../../assets/icon/Logo-CV.svg"
          alt="logo"
          height="50px"
          width="50px"
        /></a
      >
    </div>
    <div class="menu">
      <a class="mat-button" href="#aboutme">Sobre mi</a>
      <a class="mat-button" href="#Proyectos">Proyectos</a>
      <a class="mat-button" href="#skills"> Skills</a>
      <a class="mat-button" href="#contacto">Contacto</a>
    </div>
  </nav>
</header>
