.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background: #28272a;
    height: 56px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.mat-button {
    cursor: pointer;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    color: #fff;
    background: transparent;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.mat-button:hover {
    background: #4d4d4d;
}