<footer>
  <div class="footer">
    <div class="icons">
      <a href="https://github.com/karovh" target="_blank">
        <img
          src="../../../assets/icon/github-icon.svg"
          alt="giticon"
          height="40px"
          width="40px"
        />
      </a>

      <a href="https://www.linkedin.com/in/carolinavh/" target="_blank">
        <img
          src="../../../assets/icon/linkedin-icon.svg"
          alt=""
          height="40px"
          width="40px"
        />
      </a>
    </div>

    <div class="copyright">
      <h2>Copyright 2023 By Carolina Villamil</h2>
    </div>
  </div>
</footer>
