<div id="Proyectos" class="proyectos">
  <h1>PROYECTOS</h1>

  <section class="carousel">
    <div class="carousel__container">
      <div class="carousel-item">
        <img
          class="carousel-item__img"
          src="../../../assets/img/yardSale.png"
          alt="yardSale"
        />
        <div class="carousel-item__details">
          <div class="controls">
            <div class="iconos">
              <img
                src="../../../assets/icon/css3-icon.svg"
                alt=""
                height="20px"
                width="20px"
              />
              <img
                src="../../../assets/icon/javascript-icon.svg"
                alt=""
                height="20px"
                width="20px"
              />
              <img
                src="../../../assets/icon/html-5-icon.svg"
                alt=""
                height="22px"
                width="22px"
              />
            </div>

            <div class="descripcion">
              <h5 class="carousel-item__details--title">App Tienda Online</h5>
              <h6 class="carousel-item__details--subtitle">
                Desarrollo y maquetación de tienda online.
              </h6>
              <h6 class="carousel-item__details--subtitle">2023</h6>
            </div>

            <div class="botones">
              <a
                class="mat-button"
                href="https://github.com/karovh/TiendaOnline"
                target="_blank"
                >Ir a GitHub</a
              >

              <a
                class="mat-button"
                href="https://tiendaonline-yardsale.netlify.app"
                target="_blank"
                >Ver Demo</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img
          class="carousel-item__img"
          src="../../../assets/img/gifApp.png"
          alt="yardSale"
        />
        <div class="carousel-item__details">
          <div class="controls">
            <div class="iconos">
              <img
                src="../../../assets/icon/css3-icon.svg"
                alt=""
                height="20px"
                width="20px"
              />
              <img
                src="../../../assets/icon/angular-icon.svg"
                alt=""
                height="20px"
                width="20px"
              />
              <img
                src="../../../assets/icon/html-5-icon.svg"
                alt=""
                height="22px"
                width="22px"
              />
            </div>

            <div class="descripcion">
              <h5 class="carousel-item__details--title">App Buscador de Gif</h5>
              <h6 class="carousel-item__details--subtitle">
                App Buscador de Gif
              </h6>
              <h6 class="carousel-item__details--subtitle">2022</h6>
            </div>

            <div class="botones">
              <a
                class="mat-button"
                href="https://github.com/karovh/GifApp"
                target="_blank"
                >Ir a GitHub</a
              >

              <a
                class="mat-button"
                href="https://app-gifs-caro.netlify.app/"
                target="_blank"
                >Ver Demo</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img
          class="carousel-item__img"
          src="../../../assets/img/yardSale.png"
          alt="yardSale"
        />
        <div class="carousel-item__details">
          <div class="controls">
            <div class="iconos">
              <img
                src="../../../assets/icon/css3-icon.svg"
                alt=""
                height="20px"
                width="20px"
              />
              <img
                src="../../../assets/icon/javascript-icon.svg"
                alt=""
                height="20px"
                width="20px"
              />
            </div>

            <div class="descripcion">
              <h5 class="carousel-item__details--title">App Tienda Online</h5>
              <h6 class="carousel-item__details--subtitle">
                Desarrollo y maquetacion de tienda online.
              </h6>
              <h6 class="carousel-item__details--subtitle">2023</h6>
            </div>

            <div class="botones">
              <a
                class="mat-button"
                href="https://github.com/karovh/TiendaOnline"
                target="_blank"
                >Ir a GitHub</a
              >

              <a
                class="mat-button"
                href="https://tiendaonline-yardsale.netlify.app"
                target="_blank"
                >Ver Demo</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
