  <div id="Proyectos" class="proyectos">
    <h1>PROYECTOS</h1>

    <div class="contain-proyectos">
      <div class="proyecto-card">
        <img 
          src="../../../assets/img/yardSale.png"
          alt="yardsale"
          width="250px"
          height="300px"
        />

        <div class="proyecto-info">
          <h2>Yard Sale</h2>
          <h3>2023</h3>
        </div>
      </div>

      <div class="proyecto-card">
        <img
          src="../../../assets/img/yardSale.png"
          alt="yardsale"
           width="250px"
          height="300px"
        />

        <div class="proyecto-info">
          <h2>Yard Sale</h2>
          <h3>2023</h3>
        </div>
      </div>

      <div class="proyecto-card">
        <img
          src="../../../assets/img/yardSale.png"
          alt="yardsale"
           width="250px"
          height="300px"
        />

        <div class="proyecto-info">
          <h2>Yard Sale</h2>
          <h3>2023</h3>
        </div>
      </div>

      <div class="proyecto-card">
        <img
          src="../../../assets/img/yardSale.png"
          alt="yardsale"
           width="250px"
          height="300px"
        />

        <div class="proyecto-info">
          <h2>Yard Sale</h2>
          <h3>2023</h3>
        </div>
      </div>
    </div>
  </div>

